:root {
  --color-primary-dark: #292929;
  --color-high-light: #F5F5F5;
  --color-low-dark: #292929;
  --color-helper-pure: #FF8A00;
  --color-warning-light: #b1c9d5;
  --color-helper-medium: #f49e53;
}